#app-bar {
  color: $ome-blue;
  background-color: $background-color;
  @include box-shadow(none);

  padding: 8px 0;
}

#app-bar > div {
  min-height: 0;
}

#app-bar .loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-bar .loading .MuiLinearProgress-colorPrimary {
  background-color: rgba($ome-teal, .3);
  height: 5px;
  min-width: 100px;

  @include border-radius(3px);
}

#app-bar .loading .MuiLinearProgress-barColorPrimary {
  background-color: $ome-teal;
}

#app-bar .app-bar-title {
  cursor: pointer;
}

// Buttons
// overrides
#app-bar .MuiAvatar-root {
  width: auto;
  height: auto;
}

#app-bar .MuiButtonGroup-contained {
  @include box-shadow(
                  0px 1px 3px 0px rgba(0, 0, 0, 0.1),
                  0px 1px 1px 0px rgba(0, 0, 0, 0.04),
                  0px 2px 1px -1px rgba(0, 0, 0, 0.02)
  );
  margin-left: 20px;
}

#app-bar .MuiButtonGroup-contained button.MuiButton-contained {
  color: #FFFFFF;
  background-color: $ome-teal;
  text-transform: none;

  @include border-radius(2px);
  padding: 0;
}

#app-bar .MuiButtonGroup-contained button.MuiButton-contained:not(:first-of-type) {
  @include border-left-radius(0);
}

#app-bar .MuiButtonGroup-contained button.MuiButton-contained:not(:last-of-type) {
  @include border-right-radius(0);
  border-right-color: rgba($ome-blue, .2);
}

#app-bar .MuiButtonGroup-contained button.MuiButton-contained:last-of-type {
  min-width: 0;

  padding-right: 4px;
  padding-left: 4px;
}

#app-bar .MuiButtonGroup-contained button.MuiButton-contained:last-of-type .MuiButton-label {
  width: auto;
}

#app-bar .MuiButtonGroup-contained button.MuiButton-contained:nth-child(1) {
  padding-right: 10px;
}

#app-bar .react-gravatar {
  cursor: pointer;

  @include border-radius(2px);
  @include border-right-radius(0);
}

#app-bar .MuiButtonGroup-contained button.MuiButton-contained:nth-child(1) .avatar {
  background-color: $ome-blue;
  position: relative;

  @include border-radius(2px);
  padding: 0;
}

#app-bar .MuiButtonGroup-contained button.MuiButton-contained:nth-child(1) .avatar img {
  display: block;
  position: relative;
}

#app-bar .MuiButtonGroup-contained button.MuiButton-contained:nth-child(1) .username {
  padding-left: 12px;
}
