// User Explorer
#user-explorer {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 16px;
}

// User Explorer Controls
#user-explorer-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-bottom: 20px;
}

#user-explorer-controls > * {
  margin-right: 10px;
}

#user-explorer-controls > *:last-child {
  margin-right: 0;
}

#user-explorer-controls > div.separator {
  flex: 1;
}

#user-explorer-controls > div.spacer {
  width: 10px;
}

// Search container
#user-explorer-controls div.search-container {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  @include box-shadow(
                  0px 1px 3px 0px rgba(0, 0, 0, 0.1),
                  0px 1px 1px 0px rgba(0, 0, 0, 0.04),
                  0px 2px 1px -1px rgba(0, 0, 0, 0.02)
  );

  @include border-radius(2px);
  padding-left: 4px;
}

#user-explorer-controls div.search-container hr {
  width: 1px;
  height: 21px;

  margin: 4px;
}

#user-explorer-controls div.search-container button.MuiIconButton-root {
  @include border-radius(0);
  padding: 3px 5px;
}

#user-explorer-controls div.search-container .MuiInputBase-root {
  flex: 1;

  margin-left: 8px;
}

#user-explorer-controls div.search-container .MuiInputBase-input {
  font-size: 13px;

  padding: 5px 0;
}

// Buttons
#user-explorer-controls button.MuiButton-contained {
  color: #FFFFFF;
  background-color: $ome-teal;
  @include box-shadow(
                  0px 1px 3px 0px rgba(0, 0, 0, 0.1),
                  0px 1px 1px 0px rgba(0, 0, 0, 0.04),
                  0px 2px 1px -1px rgba(0, 0, 0, 0.02)
  );
  text-transform: none;

  @include border-radius(2px);
}

#user-explorer-controls button.MuiButtonGroup-grouped {
  background-color: #FFFFFF;
  text-transform: none;
  @include box-shadow(
                  0px 1px 3px 0px rgba(0, 0, 0, 0.1),
                  0px 1px 1px 0px rgba(0, 0, 0, 0.04),
                  0px 2px 1px -1px rgba(0, 0, 0, 0.02)
  );

  border-color: transparent;
  @include border-radius(2px);
  padding: 3px 4px 3px;
}

#user-explorer-controls button.MuiButtonGroup-groupedOutlined:not(:first-child) {
  border-left-color: transparent;
  @include border-left-radius(0);
}

#user-explorer-controls button.MuiButtonGroup-grouped:not(:last-child) {
  @include border-right-radius(0);
}

#user-explorer-view {
  flex: 1 1 auto;
}

// User Profile Panel
$userPanelBorderRadius: 6px;
#user-explorer .user-profile-compact {
  width: 260px;
  display: inline-block;

  margin: 0 20px 20px 0;
}

#user-explorer .user-profile-compact .MuiAvatar-colorDefault {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -72px;
  right: 20px;

  border: solid #FFFFFF 2px;
}

// Buttons
#user-explorer .user-profile-compact .MuiCheckbox-root,
#user-explorer .user-profile-compact .Mui-checked {
  color: #FFFFFF;
}

#user-explorer > div:first-of-type .MuiButtonGroup-contained {
  @include box-shadow(none);
}

#user-explorer > div:first-of-type .MuiButtonGroup-contained .MuiButton-root {
  background-color: #F0F0F0;
  text-transform: none;
}

#user-explorer .MuiToggleButton-root.MuiToggleButton-sizeSmall {
  color: $ome-teal;
  min-width: 0;
  height: auto;
  @include box-shadow(
                  0px 1px 3px 0px rgba(0, 0, 0, 0.1),
                  0px 1px 1px 0px rgba(0, 0, 0, 0.04),
                  0px 2px 1px -1px rgba(0, 0, 0, 0.02)
  );

  border-color: transparent;
  padding: 2px 3px;
}

#user-explorer .Mui-selected.MuiToggleButton-root.MuiToggleButton-sizeSmall {
  color: #FFFFFF;
  background-color: $ome-teal;
}

#user-explorer .MuiToggleButton-root .MuiSvgIcon-root {
  width: 18px;
}

#user-explorer .user-profile-compact .paper-container {
  @include border-radius($userPanelBorderRadius);
  padding: 0;
}

#user-explorer .user-profile-compact .paper-container hr {
  min-height: 2px;

  border: none;
}

#user-explorer .user-profile-compact .paper-container hr.x2 {
  min-height: 60px;
}

#user-explorer .user-profile-compact .paper-container .paper-header {
  background-color: $ome-teal;
  min-height: 40px;

  @include border-top-radius($userPanelBorderRadius);
}

#user-explorer .user-profile-compact .paper-container .paper-content {
  position: relative;

  padding: 0 16px 24px;
}

#user-explorer .user-profile-compact .paper-container .paper-name {
  border-left: solid $ome-teal 3px;
  padding: 0 13px;
}

#user-explorer .user-profile-list.MuiList-padding,
#user-explorer .user-profile-avatar-list.MuiList-padding {
  padding: 0;
}

#user-explorer .user-profile-list .MuiListItem-container,
#user-explorer .user-profile-avatar-list .MuiListItem-container {
  cursor: default;
  padding: 0 10px;
}

#user-explorer .user-profile-avatar-list .MuiAvatar-colorDefault {
  border: solid $ome-teal 4px;
}

#user-explorer .user-profile-list .MuiCheckbox-root,
#user-explorer .user-profile-list .Mui-checked,
#user-explorer .user-profile-avatar-list .MuiCheckbox-root,
#user-explorer .user-profile-avatar-list .Mui-checked {
  color: $ome-teal;
}

#user-explorer .user-profile-avatar-list .MuiListItemAvatar-alignItemsFlexStart {
  margin-top: 4px;
}

#user-explorer .user-profile-avatar-list .list-name {
  line-height: 1;

  border-left: solid $ome-teal 3px;
  padding: {
    left: 6px;
  }
}

#user-explorer .user-profile-avatar-list .list-detail {
  display: flex;
}

#user-explorer .user-profile-avatar-list .list-detail > div {
  flex: 1;
}
