#portal {
  display: flex;
  flex: 1;
  flex-direction: column;
}

// Viewport
#portal .viewport {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Viewport header
#portal .viewport-header {
  display: flex;

  border-bottom: solid #E6E6E6 1px;
}

#portal .viewport-header .profile-container {
  color: #FFFFFF;
  background-color: $ome-teal;
}

// Viewport body
#portal .viewport-body {
  display: flex;
  flex: 1;

  padding: 20px;
}

#portal .viewport-body.no-pad {
  padding: 0;
}
