div[role='tabpanel']:not([hidden]).tab-administration {
  display: flex;
  flex: 1 1 auto;
}

#administration {
  display: flex;
  flex: 1;
}

#administration .nav-bar {
  width: 220px;
  background-color: $background-color;

  border-right: solid #E6E6E6 1px;
}

#administration .nav-bar .MuiListItem-root {
  cursor: pointer;
  position: relative;

  border-left: solid transparent 4px;
}

#administration .nav-bar .MuiListItem-root.Mui-selected,
#administration .nav-bar .MuiListItem-root.Mui-selected:hover {
  color: $ome-teal;
  background-color: $ome-blue;
  cursor: default;
  position: relative;

  border-left: solid $ome-teal 4px;
}

#administration .nav-bar .MuiListItem-root.Mui-selected:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  display: none;

  border-left: 10px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

#administration .nav-bar .MuiListItem-root.Mui-selected:before {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 0;
  height: 0;

  border-left: 5px solid $ome-blue;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

#administration .nav-bar .MuiListItemIcon-root {
  min-width: 0;

  padding: 2px 14px 2px 2px;
}

#administration .nav-bar .MuiListItem-root.Mui-selected .MuiSvgIcon-root {
  fill: $ome-teal;
}

#administration > .content {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 20px;
}

#administration > .content.no-pad {
  padding: 0;
}

#administration #dashboard {
  flex: 1;
}

@import 'Dashboard/base';
@import 'UserExplorer/base';
