body {
  color: $font-color;
  background-color: $background-color;
  min-height: 100vh;
  font-family: $font-family;
  display: flex;
}

[class^='MuiTypography'],
[class^='MuiTableRow-root'],
[class^='MuiListSubheader'] {
  font-family: $font-family !important;
}

div.separator {
  flex: 1;
}

#app {
  background-color: $background-color;
  display: flex;
  flex: 1;
  flex-direction: column;
}

footer {
  background-color: $background-color;
}

footer {
  color: #595959;
  display: flex;

  border-top: solid #E6E6E6 1px;
}

footer > div {
  font-size: .775rem !important;

  padding: 10px;
}

footer div:nth-child(1) {
  font-size: .775rem !important;

  padding: 10px;
}

.no-pad {
  padding: 0;
}

// Content
#content,
#error {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;

  margin-left: $nav-width;
}

// Error
// Viewport
#error .viewport {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Viewport header
#error .viewport-header {
  display: flex;

  border-bottom: solid #E6E6E6 1px;
}

#error .error-info {
}

// Viewport body
#error .viewport-body {
  display: flex;
  flex: 1;

  padding: 20px;
}

#error .error-info {
  flex: 1;
  position: relative;

  @include border-radius(8px);
}

#error .error-info .error-type {
  display: flex;
  align-items: center;

  border-left: solid $ome-teal 6px;
  padding: 2px 20px;
}

#error .error-info .error-type div:last-of-type {
  flex: 1;
}

#error .error-info .error-details {
  padding: 20px;
}
