$ome-teal: #03BBE4; //rgb(3, 187, 228);
$ome-red: #DB3D3D; //rgb(219, 61, 61);
$ome-blue: #002D37; //rgb(0, 45, 55);

$background-color: #F6F6F6;
$background-color: #FFFFFF;
$font-color: #000000;
$font-family: 'Lato', sans-serif;

$nav-width: 0;

// #D41919
