// Log-In
#login-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-card {
  min-width: 400px;
  position: relative;

  @include border-radius(8px);
}

#login-card:before {
  content: "";
  background: {
    image: image-url('dr_kat.png');
    position: -130px 0;
    repeat: no-repeat;
  };
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .015;
}

#login-card > h4 {
  border-left: solid $ome-teal 6px;
  padding: 2px 20px;
}

#login-card-content {
  display: flex;
  flex-direction: column;

  padding: 30px;
}

#login-card-content > div {
  flex: 1 1 auto;
  text-align: center;

  margin: 20px;
}

#login-card-content > div:last-of-type {
  margin-bottom: 35px;
}

#login-card-content > button {
  background-color: $ome-teal;
  box-shadow: none;
}

#login-card-content > h6 {
  text-align: center;

  margin: 30px 0 0;
}

#login-card-content .MuiInput-underline:before {
  border-color: #E6E6E6;
}

#login-card-content .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-color: #D6D6D6;
}

#login-card-content .MuiInput-formControl:after {
  border-color: $ome-teal;
}
