@import 'loginsChart';

#users-quick-stat {
  @include border-radius(0);
}

#users-quick-stat .quick-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#users-quick-stat .quick-stat h4 {
  padding: 2px 4px 6px;
}

#users-quick-stat .quick-stat .MuiTypography-root {
  color: $ome-blue;
}
