#logins-chart {
  @include border-radius(0);
}

#logins-chart #chart-panel {
  min-height: 110px;
  position: relative;

  margin: 0 auto;
  padding: 0 16px;
}

#logins-chart #chart-panel svg {
  position: absolute;
  top: 0;
  right: 19px;
  bottom: 0;
  left: 16px;
}

#logins-chart .MuiCardContent-root.chart-content,
#logins-chart .MuiCardContent-root.chart-content:last-child {
  overflow: auto;

  padding: 0;
}

#logins-chart .MuiTypography-root.chart-title {
  padding: 10px 10px 0;
}

#logins-chart .background {
  fill: #EEEEEE;
}

#logins-chart line {
  stroke: #FFFFFF;
}

#logins-chart text.active {
  fill: red;
}

#logins-chart .day {
  fill: $background-color;
  stroke: #FFFFFF;
}

#logins-chart .month {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
}

#logins-chart .month-title {
  fill: darken($background-color, 25);
  font-family: $font-family;
}

/* color ranges */
#logins-chart .q0-11 {
  fill: rgb(165, 0, 38)
}

#logins-chart .q1-11 {
  fill: rgb(215, 48, 39);
  fill: lighten($ome-teal, 90);
}

#logins-chart .q2-11 {
  fill: rgb(244, 109, 67);
  fill: lighten($ome-teal, 80);
}

#logins-chart .q3-11 {
  fill: rgb(253, 174, 97);
  fill: lighten($ome-teal, 70);
}

#logins-chart .q4-11 {
  fill: rgb(254, 224, 139);
  fill: lighten($ome-teal, 60);
}

#logins-chart .q5-11 {
  fill: rgb(255, 255, 191);
  fill: lighten($ome-teal, 50);
}

#logins-chart .q6-11 {
  fill: rgb(217, 239, 139);
  fill: lighten($ome-teal, 40);
}

#logins-chart .q7-11 {
  fill: rgb(166, 217, 106);
  fill: lighten($ome-teal, 30);
}

#logins-chart .q8-11 {
  fill: rgb(102, 189, 99);
  fill: lighten($ome-teal, 20);
}

#logins-chart .q9-11 {
  fill: rgb(26, 152, 80);
  fill: lighten($ome-teal, 10);
}

#logins-chart .q10-11 {
  fill: rgb(0, 104, 55);
  fill: $ome-teal;
}

/* hover info */
#logins-tooltip {
  background-color: #FFFFFF;

  @include border-radius(3px);
  border: 1px solid #E6E6E6;
  padding: 10px;
}
